extends layout

block content
  div(class="container-fluid" id="cont")
    h1= title
    p Welcome to #{title}
    p Please enter the number of items
      form(class="form-horizontal" action='/items/', method='post')
        div(class="form-group col-md-4")
          lable Number of items:
          input(class='form-control', type='number', name='numbers', value='')
        div(class="form-group col-md-4")
          input(class="btn btn-primary" type='submit', value='Submit')
