extends layout

block content
  div.container
    div.content
      h1= title
      p Welcome to #{title}
      div.form-group
        form.form-horizontal(action='/items/', method='post')
          lable Number of items:
          input(class='form-control', type='number', name='numbers', value='')
          br
          input(class="btn btn-primary" type='submit', value='Submit')
